.dr-candyRackProduct {
    &__img {
        height: 40px;
    }
}

.modal-open .dr-upsellProduct-modal  {
    display: block;
    background: rgba(0,0,0,0.6);
  
    .modal-dialog {
        max-width: 680px;
    }
  
    .dr-upsellProduct.modal-content {
        border-radius: 0;
        background: #fff;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: relative;
        border-radius: 0;

        .dr-product__price,
        .dr-product-content {
            padding: 20px;
            align-items: normal;
        }

        .dr-product__price {
            border-left: 2px solid #ccc;
        }

        button {
            width: auto;
            display: none;
        }

        .dr-nothanks {
            border: 0;
            background: none;
            color: #333;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        .dr-nothanks:hover {
            text-decoration: none;
        }

        .dr-product-content button {
            display: inline-block;
        }

        .dr-modal-close {
            background-color: transparent;
            border: medium none;
            color: #a1a1a1 !important;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: url(../images/icon-cross.svg) no-repeat;
            display: block;
        }
    }
}
  
@include media-breakpoint-down(sm) {
    .modal-open .dr-upsellProduct-modal {
        overflow-y: scroll;
    }

    .modal-open .dr-upsellProduct-modal .dr-upsellProduct.modal-content {
        flex-direction: column;
    }

    .modal-open .dr-upsellProduct-modal .dr-upsellProduct.modal-content .dr-product__price {
        border-left: 0px;
        align-items: center;
    }

    .modal-open .dr-upsellProduct-modal .dr-upsellProduct.modal-content .dr-product-content button {
        display: none;
    }

    .modal-open .dr-upsellProduct-modal .dr-upsellProduct.modal-content .dr-product__price button {
        display: inline-block;
    }
}